# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Node
node_modules/
dist/
build/
.npm
package-lock.json

# Data & DBs
data/
*.sqlite
*.db
faiss_index/
chroma_db/

# IDEs and OS
.vscode/
.idea/
.DS_Store
*.swp

# Personal Notes
INTERVIEW_PREP.md
